<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Explain?! EXPLAIN?!</title>
<meta name="description" content="Explain?! EXPLAIN?!" />
<meta name="author" content="Steve Hickey" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="images/favicon.ico" /> <!-- Better: Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
<link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
<script src="javascripts/modernizr-2.0.6.min.js"></script>
</head>
<body>

{{ content }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<!-- Google Analytics (requires Modernizr) - Change UAXXXXXXXX1 to be your site's ID -->
<script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>

</body>
</html>
